#sliderContainer{
  background-color: orange;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.studentContainer {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  transition: opacity 3s ease-in-out;
  /*display: none;*/
}

.pickerButton {
  width:15px;
  height:15px;
  border-radius: 50%;
  display: inline-block;
  background: white;
  box-shadow: 0 0 3px gray;
  margin: 5px;
}

.pickerButton:hover {
  background: pink;
}

#pickerContainer {
  background-color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}


#prevButton {
  padding: 10px;
}

#nextButton {
  padding: 10px;
}
