#sliderContainer{
  background-color: orange;
  width: 90%;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.studentContainer {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  /*display: none;*/
}

.pickerButton {
  background-color: white;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 5px;
}

#pickerContainer {
  background-color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}
